@import "grid_mixins";

.container {
  height: 100vh;
  @include display-grid;
  @include grid-template-columns(100px 2fr 1fr);
  @include grid-template-rows(50px 1fr);

  background: seagreen;
}

.navbar {
  background: maroon;
  width: 100%;
  height: 100%;
  @include grid-column(1, 4);
  @include grid-row(1, 2);
}

.sidebar {
  background: tomato;
  @include grid-column(1, 2);
  @include grid-row(2, 3);
}

.content {
  background: blue;
  @include grid-column(2, 3);
  @include grid-row(2, 3);

  @include display-grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
}

.item {
  background: yellowgreen;
  min-width: 100px;
  max-height: 100px;
  border: 2px solid black;
}