container
{height:100vh;display:-ms-grid;display:grid;-ms-grid-columns:100px 2fr 1fr;grid-template-columns:100px 2fr 1fr;-ms-grid-rows:50px 1fr;grid-template-rows:50px 1fr;background:seagreen}.navbar{background:maroon;-ms-grid-column:1;-ms-grid-column-span:3;grid-column:1 / 4}.sidebar{background:tomato;-ms-grid-column:1;-ms-grid-column-span:1;grid-column:1 / 2}.content{background:blue;-ms-grid-column:2;-ms-grid-column-span:1;grid-column:2 / 3}.item{background:yellowgreen}